# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres.aqvvkymrjqvtamevwune:a2n9xb#Xid!#@kL@aws-0-eu-west-1.pooler.supabase.com:6543/postgres
# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=24h
DB_KEEPALIVE_INTERVAL_MS=1000

# Frontends (URLs publiques)
FRONTEND_URL=http://localhost:5175
STUDENT_FRONTEND_URL=http://localhost:5174

# CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175,https://encadreur-connect.netlify.app,https://project-companion.netlify.app,https://thesis-tracker-admin.netlify.app

# Socket.io
SOCKET_IO_PORT=3001
SOCKET_IO_CORS=http://localhost:5173,http://localhost:5174,http://localhost:5175

# File Upload
MAX_FILE_SIZE=52428800
UPLOAD_DIR=./uploads
